pipeline/testing_func.json
{
	"name": "testing_func",
	"properties": {
		"activities": [
			{
				"name": "get_name",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('SELECT TOP 10 FirstName, LastName, FullName FROM dbo.Customer\n')",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "process_employee_records",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_name').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "v_full_name",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "full_name",
								"value": {
									"value": "@concat(item().FirstName, ' ', item().LastName)\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "update_cust",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "v_full_name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat(\n    'UPDATE dbo.Customer SET FullName = ''',\n    variables('full_name'),\n    ''' WHERE FirstName = ''',\n    trim(item().FirstName),\n    ''' AND LastName = ''',\n    trim(item().LastName),\n    '''; SELECT 1;'\n)\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"full_name": {
				"type": "String"
			}
		},
		"annotations": []
	}
}